.smaller-text {
    font-size: 0.9em; /* Ajusta este valor según tus preferencias */
}

@media (max-width: 768px) {
    .carousel-inner {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .carousel-item {
        flex: 0 0 auto;
        width: auto;
    }
}
