* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-home a {
    transition: transform 0.3s ease-in-out;
}

.btn-home a:hover {
    transform: scale(1.1);
}

.sau {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.sau2 {
    padding: 40px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sau2 img {
    transition: transform 0.3s ease-in-out;
}

.sau2 img:hover {
    transform: scale(1.1);
}

.card {
    height: 500px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    height: 60%;
    overflow: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40;
}

.container .pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem; /* Ajusta este valor según sea necesario */
}


